Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
nload.spec
stamp-h1
docs/nload.1
src/.deps
src/nload
*.o
